a {
  color: #2e74b2;
  text-decoration: none;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

body {
  background-color: #fff;
  color: #333333; 
  display: flex;
  flex-direction: column;
  font-family: system-ui,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  line-height: 24px;
  padding: 5px;
}

div#content {
  order: 2;
  padding: 0 20px;
}

div.section {
  margin-bottom: 4em;
}

div.entity {
  margin-bottom: 2em;
}

div.entity h3 {
  border-bottom: 2px solid #333333;
  padding: 10px 5px;
}

div#toc {
  order: 1;
  padding: 0 20px;
  margin-bottom: 2.5em;
}

div#toc div#toc-content {
  color: gray;
  font-size: 15px;
}

div#toc div#toc-content a {
  color: gray;
}

div#toc div#toc-content div {
  margin-bottom: 0.5em;
}

div#toc div#toc-content div.toc-title {
  border-bottom: 1px solid gray;
}

div#toc div#toc-content div.toc-title:not(:first-child) {
  margin-top: 1em;
}

div#toc div#toc-content div.toc-item {
  margin-left: 8px;
}

dt {
  margin-bottom: 0.5em;
}

dd {
  margin-left: 0;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  overflow-wrap: break-word;
}

h2 {
  font-weight: 500;
}

h3, td {
  font-size: 16px;
}

img {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

p {
  margin: 0;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

td, th {
  border-bottom: 1px solid #dddddd;
  padding: 10px 5px;
  word-wrap: break-word;
}

td:first-child, th:first-child {
  width: 150px;
}

div.section#introduction p, div.section#acknowledgements p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.hover_property {
  cursor: help;
  text-decoration: none;
  border-bottom: dashed 1px;
  }

.sup-c,
.sup-op,
.sup-fp,
.sup-dp,
.sup-ap,
.sup-p,
.sup-ni,
.sup-con,
.sup-col {
  cursor:help;
}

.sup-c {
  color:orange;
}

.sup-op {
  color:navy;
}

.sup-fp {
  color:lightskyblue;
}

.sup-dp {
  color:green;
}

.sup-ap {
  color:darkred;
}

.sup-p {
  color:black;
}

.sup-ni {
  color:brown;
}

.sup-con {
  color:orange;
}

.sup-col {
  color:darkred;
}

sup {
  margin-left: -3px;
}
code {
  font-size: large;
  color: darkred;
}

@media (min-width : 992px) {
  body {
    flex-direction: row;
    padding: 40px;
  }

  div#content {
    flex: 5;
    order: 1;
  }

  div#toc {
    flex: 1;
    order: 2;
  }

  div#toc div#toc-content {
    position: sticky;
    top: 20px;
  }

  img {
    width: 100%;
  }

  /* Section specific CSS for index page */

  div.section#classes td:first-child, div.section#classes th:first-child {
    width: 250px;
  }

  div.section#namespaces table {
    width: unset;
  }

  
}